<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>My toodos</title>     
    </head>
    <body>
    
<div>
    
</div>
    <div>
    <table>
    <p style="color: green"> <%= flash[:notice] %> </p>
    <a href="/new">Add new Task</a>
    <% @tasks.each do |task|%>
    <tr>
        <td><%= task.name %></td>
        <td><%= task.place %></td>
    </tr>
    <% end %>
    </table>        
    </div>
    </body>
</html>
